<h1>Новый клиент</h1>

<div class="row">
	<div class="col-md-4"></div>
<div class="row">
	<div class="col-md-4">
	<%= form_with scope: :customer, url: customers_path, local: true do |form| %>
	  <div class="form-group form-inline">
	    <%= form.label 'Имя клиента' %>
	    <%= form.text_field :name, autofocus: true, class: "form-control" %>

	    <%= form.label 'Телефон' %>
	    <%= form.text_field :phone, autofocus: true, class: "form-control"  %>
	   </div>

	  <div class="form-group form-inline">
	    <%= form.label 'О клиенте' %><br>
	    <%= form.text_area :text, autofocus: true, class: "form-control", style: "height: 90px; width: 570px" %>
	  </div>

	  <p>
	    <%= form.submit %>
	  </p>
	<% end %>
</div>
</div>
</div>
